@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

  .blog-post{
    font-family: 'Poiret One', cursive;
  }

  h4{
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
  .form-wrapper{
    border-radius: 5px;
    padding-top: 30px;
  }
  .form-control, .custom-select{
      border-radius: 0px;
      color: #495057;
      background-color: #f1f1f1;
      border-color: none;
  
  }
  
  .form-control:focus {
      color: #495057;
      background-color: #ffffff;
      border:1px solid #b5b6b3;
      outline: 0;
      box-shadow: none;
  
  }
  
  .btn{
    background: #3494E6;
    border: #3494E6;
    padding: 0.6rem 3rem;
    font-weight: bold;
  }
  .btn:hover, .btn:focus, .btn:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #3494E6;
    border: #3494E6;
    outline: 0;
  }